<div class="post-card">
  <a href="{{ item.link | relative_url }}" title="{{ item.title }}.">
    {% if item.featured-img %}
      <figure class="post-card__thumb">
        <img 
          src="{{ site.url }}{{ site.baseurl }}/assets/img/posts/{{item.featured-img}}_thumb.jpeg"
          height="301px" width="535px"
          loading="lazy"
          alt="{{item.name}}"
        />
      </figure>
    {% else %}
      <figure class="post-card__thumb">
        <div class="dark-bg"></div>
      </figure>
    {% endif %}
  <span class="post-card__inner">
    <div class="post-card__header">
      <h2>{{ item.name | strip_html | truncate: 50 }}</h2>
    </div>
    <p>{{ item.description | truncatewords:20 }}</p>
  </span>
  </a>
</div>
