<div class="post-card">
  <a class="post-card__inner" href="{{ community.url | relative_url }}" title="Visit the {{ community.name }} page.">
    {% if community.altName %}
      <figure class="post-card__thumb">
        <img 
          src="{{ site.url }}{{ site.baseurl }}/assets/img/communities/{{community.altName}}_thumb.jpeg"
          height="301px" width="535px"
          loading="lazy"
          alt="{{community.name}} logo."
        />
      </figure>
    {% else %}
      <figure class="post-card__thumb">
        <div class="dark-bg"></div>
      </figure>
    {% endif %}
  

    <div class="post-card__header">
      <h2>{{ community.name | strip_html | truncate: 50 }}</h2>
      {% assign date_format = site.sleek.date_format | default: "%b %-d, %Y" %}
    </div>
    {% if community.summary %}
      <p>{{ community.summary | strip_html | truncatewords:20 }}</p>
    {% else %}
      <p>{{ community.content | strip_html | truncatewords: 20 }}</p>
    {% endif %}

    {% assign sorted-events = site.events | where: 'organiserid', community.dataID %}
    {% if include.showactive == 'true' %}
      <p><span class="btn pill">Active Events</span></p>
    {% endif %}
  </a>

</div>
