<div class="community__info--outer">
  <p>
  {% if page.twitter %}
    <a href="{{page.twitter}}" title="{{page.name}} Twitter">Twitter</a> //
  {% endif %}
  {% if page.facebook %}
    <a href="{{page.facebook}}" title="{{page.name}} Facebook">Facebook</a> //
  {% endif %}
  {% if page.instagram %}
    <a href="{{page.instagram}}" title="{{page.name}} Instgram">Instagram</a> //
  {% endif %}
  {% if page.youtube %}
    <a href="{{page.youtube}}" title="{{page.name}} YouTube">YouTube</a> //
  {% endif %}
  {% if page.linkedin %}
    <a href="{{page.linkedin}}" title="{{page.name}} LinkedIn">LinkedIn</a> //
  {% endif %}
  {% if page.slack %}
    <a href="{{page.slack}}" title="{{page.name}} Slack">Slack</a> //
  {% endif %}
  {% if page.website %}
    <a href="{{page.website}}" title="{{page.name}} Website">Website</a>
  {% endif %}
  </p>
</div>
