<div class="community__info--outer">
  {% if page.twitter %}
    <p>Twitter: <a href="{{page.twitter}}" title="{{page.name}} Twitter">{{page.twitter}}</a></p>
  {% endif %}
  {% if page.facebook %}
    <p>Facebook: <a href="{{page.facebook}}" title="{{page.name}} Facebook">{{page.twitter}}</a></p>
  {% endif %}
  {% if page.instagram %}
    <p>Instagram: <a href="{{page.instagram}}" title="{{page.name}} Instgram">{{page.twitter}}</a></p>
  {% endif %}
  {% if page.youtube %}
    <p>YouTube: <a href="{{page.youtube}}" title="{{page.name}} YouTube">{{page.youtube}}</a></p>
  {% endif %}
  {% if page.linkedin %}
    <p>LinkedIn: <a href="{{page.linkedin}}" title="{{page.name}} LinkedIn">{{page.linkedin}}</a></p>
  {% endif %}
  {% if page.slack %}
    <p>Slack: <a href="{{page.slack}}" title="{{page.name}} Slack">{{page.slack}}</a></p>
  {% endif %}
  {% if page.website %}
    <p>Website: <a href="{{page.website}}" title="{{page.name}} Twitter">{{page.website}}</a></p>
  {% endif %}
</div>
