<script type="application/ld+json">
{
  '@context': 'https://schema.org',
  '@type': 'Event',
  'name': '{{ page.name }}',
  'startDate': '{{ page.start }}',
  'endDate': '{{ page.end }}',
  'location': {
    '@type': 'Place',
    'name': '{{ page.venue }}',
    'address': {
      '@type': 'PostalAddress',
      'streetAddress': '100 West Snickerpark Dr',
      'addressLocality': '{{ page.geographic }}',
      'postalCode': '19019',
      'addressRegion': 'PA',
      'addressCountry': 'UK'
    }
  },
  'image': [
    '{{ site.url }}{{ site.baseurl }}/assets/img/posts/{{page.featured-img}}_thumb.jpeg'
   ],
  'description': '{{ page.description | truncatewords:20 }}',
}
</script>
