            <div class="post-card resource-card event-card"
                 data-location="{% if event.venue == 'Online event' %}Online event{% else %}{{event.geographic}}{% endif %}"
                 data-type="{{organiser.first.type}}">

                <a class="post-card__inner" href="{{ event.url }}" title="More info about {{event.title}}">
                    {% if include.picture == 'true' %}
                        <figure class="post-card__thumb">
                            <img src="{{ site.url }}{{ site.baseurl }}/assets/img/communities/{{organiser.first.featured-img}}_thumb.jpeg"
                                 alt="{{event.title}}." height="301px" width="535px" loading="lazy" />
                        </figure>
                    {% endif %}

                    <div class="post-card__header">
                        <h2>{{event.title | strip_html | truncate: 50}}</h2>

                        {% if include.ongoing == 'true' %}
                            <p>Runs until {{ event.end | date_to_string }} //
                        {% else %}
                            <p>{{event.start | date_to_string }} // {{event.start | slice: 11, 5}} //
                        {% endif %}

                        {% if event.venue == 'Online event' %}
                            {% if include.ongoing == 'true' %}
                                Hosted online
                            {% else %}
                                Online event
                            {% endif %}
                        {% elsif event.geographic == 'undefined' %}
                            Venue TBC
                        {% else %}
                            {{event.geographic}}
                        {% endif %}
                    </p>
                    <p>{{ event.excerpt | strip_html | truncatewords:20 }}</p>
                    </div>
                </a>
            </div>
