<div class="community__info--outer">
  <div class="page-content page-content__columns">
    <div class="page--community__columns">
      <p>Organised by: <a href="/communities/{{page.organiserAltName}}"
                          title="{{page.organiserName}} organiser page.">{{page.organiserName}}</a><br>
         Date: {{page.start | date: '%d %B %Y'" }} // {{page.start | slice: 11, 5}}<br>
         Location: {{page.venue}}, {{page.geographic}}</p>
    </div>
    <div class="column event-org-logo-container">
      <a href="/communities/{{page.organiserAltName}}"
         title="View organiser">
        <img src="{{ site.url }}{{ site.baseurl }}/assets/img/communities/{{page.organiserAltName}}_thumb.jpg"
             alt="{{page.name}} logo"
             class="event-org-logo">
      </a>
    </div>
  </div>
  <p>
    {% if page.twitter %}
      <a class="btn share" target="_blank" rel="noopener" href="https://twitter.com/intent/tweet?text=Check%20out%20this%20event%20by%20{{page.twitter}}%20on%20the%20%40SWCommunities%20calendar.%0D%0A%0D%0Ahttps%3A%2F%2Fsouthwestcommunities.co.uk%2F{{page.url}}">Tweet This</a>
    {% else %}
      <a class="btn share" target="_blank" rel="noopener" href="https://twitter.com/intent/tweet?text=Check%20out%20this%20event%20by%20{{page.organiserName}}%20on%20the%20%40SWCommunities%20calendar.%0D%0A%0D%0Ahttps%3A%2F%2Fsouthwestcommunities.co.uk%2F{{page.url}}">Tweet This</a>
    {% endif %}
    <a href="{{page.ticketurl}}" class="btn" title="Book your place">Tickets</a>
  </p>
</div>
