<div class="filters">

  <div class="type-wrap">
    <button>Communities & Work Spaces</button>
    <button>Funded Projects</button>
    <button>Networking Groups</button>
  </div>

  <div class="location-select-wrap">

    <label for="location-select">Filter by location</label>

    <select id="location-select">
      <option value="all">--show all--</option>
      {% for location in site.locations %}
        <option value="{{location.name}}">{{location.name}}</option>
      {% endfor %}
    </select>
  </div>

</div>
