<div class="filters">

  <div class="type-wrap">
    <button class="type-button btn active" id="all-types-button" data-type="all">Show All</button>
    <button class="type-button btn" id="online">Online Events</button>
    <!-- <button class="type-button btn" data-type="community">Communities Groups</button>
    <button class="type-button btn" data-type="funded">Funded Projects</button>
    <button class="type-button btn" data-type="networking">Networking Groups</button>
    <button class="type-button btn" data-type="educational">Education & Training</button> -->
  </div>

  <div class="location-select-wrap">
    <label for="location-select">Filter by location</label>
    <select id="location-select">
      <option value="all">--show all--</option>
      {% for location in site.locations %}
        {% if location.name != null %}
          <option value="{{location.name}}">{{location.name}}</option>
        {% endif %}
      {% endfor %}
    </select>
  </div>

</div>
