$primary: #277cea !default;
$secondary: #ff6161 !default;
$border: #ededed !default;
$primary-light: #68a4f1;
$reverse: #3c3d41 !default;
$error: #ff6161 !default;

$bg-color: #fff !default;
$bg-color-trans: rgba(255,255,255,0.9);
$light-bg-color: #f9f9f9;
$text-color: #313237;
$link-color: $primary;
$button-dark: #222325;
$grey: #343800;
$brand-color: #996D9E;

$hero-text-color-trans: rgba(255,255,255,0.9);
$input-background-color: #fff;


$dark-primary: #277cea !default;
$dark-secondary: #ff6161 !default;
$dark-border: #ededed !default;
$dark-primary-light: #68a4f1;
$dark-reverse: #3c3d41 !default;
$dark-error: #ff6161 !default;

$dark-bg-color: #202020 !default;
$dark-bg-color-trans: rgba(18,18,18,0.9);
$dark-light-bg-color: #000000;
$dark-text-color: #ededed;
$dark-link-color: $primary;
$dark-button-dark: #ededed;
$dark-grey: #e0dddd;
$dark-brand-color: #996D9E;

$dark-hero-text-color-trans: rgba(255,255,255,0.9);
$dark-input-background-color: #3c3d41;


$font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;

// Breakpoints
$xs: 0;
$sm: 36em; //576px
$md: 48em; //768px
$lg: 62em; //992px
$xl: 75em; //1200px
