.btn,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  position: relative;
  display: inline-block;
  padding: 18px 30px;
  font-size: 11px;
  font-family: inherit;
  line-height: 1.5;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  color: $bg-color;
  background-color: $button-dark;
  text-align: center;
  border: 0;
  border-radius: 0;
  transition: background-color 0.45s cubic-bezier(0.25, 1, 0.33, 1);
  outline: 0;
  border-bottom: 1px solid $button-dark;

  &::after {
    display: none;
  }

  &:hover,
  &:focus,
  &:active {
    color: $bg-color;
    transition: background-color 0.45s cubic-bezier(0.25, 1, 0.33, 1);
    background-color: lighten($button-dark, 14%);
    outline: 0;
  }

  &.pill {
    border-radius: 16px;
    background-color: $blue-pill;
    border-bottom: 0;
    outline: 0;
    padding: 10px;
  }
}

.btn + .btn {
  margin-top: 1em;

  @include breakpoint(450px) {
    margin-left: 2em;
  }
}

button:disabled {
  cursor: not-allowed;
  opacity: .65;
  transition: background-color .2s ease;

  &:hover,
  &:focus {
    background-color: $button-dark;
  }
}

a.share {
  background-color: #00aced;
  color: white;

  &:hover,
  &:focus,
  &:active {
    color: white;
    background-color: lighten(#00aced, 14%);
  }
}

.btn-wrapper{
  @include breakpoint($md) {
    margin-top: -5.05em;
  }
}
