.blog--calendar {

  .resource-header:nth-of-type(n+2) {
    margin-top: 2.5rem;
  }
}

.post-card__cover {
  margin-top: 33%;
  height: 80px;
  background-color: $bg-color-trans;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;

  @include set-dark-color((background-color: $dark-bg-color-trans));
}

.filters {
  display: flex;
  align-items: baseline;
}

.type-wrap {
  margin-bottom: 2em;
}

@media only screen and (min-width: 450px){
  .location-select-wrap {
      margin-left: 2em;
  }
}

.type-button:active,
.type-button:focus,
.type-button.active {
  border-bottom: 5px solid $brand-color;
  padding-bottom: 13px;
  background-color: lighten($button-dark, 14%);

  @include set-dark-color((border-bottom: 5px solid $dark-brand-color, background-color: lighten($dark-button-dark, 14%)));
}
