.page-content.page__community {
  padding: 2rem 0 1rem 0;
}

.page-content.page-content__infoblock {
  padding: 0;
}

.page-content.page__community.wrap {
  margin: 1rem 0;
  padding: 1rem 0 .25rem 0;
}

.site__content.community {

  .event-org-logo {
    width: auto;
  }

  .blog {
    background-color: #fff;
  }
}

.community__info--outer {
  margin-bottom: 2.25rem;
}
