.page-content.page__community {
  margin: 4rem 0 0 0;
  padding: 3.75rem 0 1rem 0;
}

.page-content.page__community.wrap {
  margin: 1rem 0;
  padding: 1rem 0 .25rem 0;
}

.site__content.community {

  .event-org-logo {
    width: auto;
  }

  .blog {
    background-color: #fff;
  }


}

.community__info--outer {
  margin-bottom: 2.25rem;

  .btn {
    // margin-bottom: 1rem;
  }
}
