.map-embed {
  width: 100%;
  height: 300px;
  border: 0;

  @media screen and (min-width: $md) {
    height: 400px;
  }
}

.map-container {
  background-color: white;
  background-image: url('/assets/img/map-placeholder.jpg');
  background-size: cover;
  height: 300px;
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;

  @media screen and (min-width: $md) {
    height: 400px;
  }

  .button, button {
    background-color: #9b4dca;
    border: .1rem solid #9b4dca;
    border-radius: .4rem;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 700;
    height: 3.8rem;
    letter-spacing: .1rem;
    line-height: 3.8rem;
    padding: 0 3rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}
}
