---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}" id="community-page">

  {% include head.html %}

  <body class="site" data-communityid="{{page.dataID}}">

    {% include header.html %}

    <main class="site__content community">
      <div class="container">
        <div class="page-content page__community page-content__columns">

          <div class="page--community__columns">
            <h1>{{ page.name }}</h1>
            {{ content }}
          </div>

          <div class="column event-org-logo-container">
            <a href="/communities/{{page.organiserAltName}}"
               title="View organiser">
              <img src="{{ site.url }}{{ site.baseurl }}/assets/img/communities/{{page.featured-img}}_thumb.jpeg"
                   alt="{{page.name}} logo."
                   class="event-org-logo">
            </a>
          </div>
        </div>

        <div class="page-content page-content__infoblock">
          {% include community-info.html %}
        </div>
      </div>
    </main>

    {% assign sorted-events = site.events | where: 'organiserid', page.dataID | sort: 'start' %}

    <div class="site__content">
      <section class="blog blog--resource blog--calendar">
        <div class="container">
          {% if page.desc %}
            <p>{{ page.desc }}</p>
          {% else %}
            {% if sorted-events.size == 0 %}
              <h2 class="resource-header">No Upcoming Events</h2>
              <p>&nbsp;</p>
            {% else %}
              <h2 class="resource-header">Upcoming Events</h2>
            {% endif %}
          {% endif %}
          <div class="post-list resource-list" id="eventContainer">


            {% for event in sorted-events %}
              <div class="post-card">
                <a class="post-card__inner" href="{{ event.url }}" title="More info about {{ event.title }}">
                  <div class="post-card__header">
                    <h2>{{event.title | strip_html | truncate: 50}}</h2>
                    <p>{{event.start | date_to_string }} // {{event.start | slice: 11, 5}} // {{event.geographic}}</p>
                    <p>{{ event.excerpt | strip_html | truncatewords:20 }}</p>
                  </div>
                </a>
              </div>
            {% endfor %}
          </div>
        </div>
      </section>
    </div>

    {% include footer.html %}

  </body>

</html>
