---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}" id="community-page">

  {% include head.html %}

  <body class="site" data-communityid="{{page.dataID}}">

    {% if site.google_tag_manager %}

      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->

    {% endif %}

    {% include header.html %}

    <div class="hero--small">
      <div class="hero__wrap">
        <h1 class="hero__title">{{ page.title }}</h1>
      </div>
    </div>
    <main class="site__content">
      <div class="container">
        <div class="page-content">

          {{ content }}

        </div>
      </div>
    </main>

    <div class="site__content">
      <section class="blog">
        <div class="container">
          <div class="post-list" id="eventContainer">
            {% assign sorted-events = site.events | where: 'organiserid', page.dataID | sort: 'start' %}
            {% for event in sorted-events %}
                <div class="post-card">
                  <a class="post-card__inner" href="{{ event.url }}">
                    <div class="post-card__header">
                      <h2>{{event.title | strip_html | truncate: 50}}</h2>
                      <p>{{event.start | date_to_string }} // {{event.start | slice: 11, 5}} // {{event.geographic}}</p>
                      <p>{{ event.excerpt | strip_html | truncatewords:20 }}</p>
                    </div>
                  </a>
                </div>
            {% endfor %}
          </div>
        </div>
      </section>
    </div>

    {% include footer.html %}

  </body>

</html>
