---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}" id="community-page">

  {% include head.html %}

  <body class="site" data-communityid="{{page.dataID}}">

    {% include header.html %}

    <div class="hero hero--small">
      <div class="hero__wrap">
        <h1 class="hero__title">{{ page.name }}</h1>
      </div>
    </div>

    <main class="site__content community">
      <div class="container">
        <div class="page-content page__community page-content__columns">

          <div class="page--community__columns">
            {{ content }}
          </div>

          <div class="column event-org-logo-container">
              <img src="{{ site.url }}{{ site.baseurl }}/assets/img/communities/{{page.altName}}_thumb.jpeg"
                   alt="{{page.name}} logo."
                   class="event-org-logo">
          </div>
        </div>

        <div class="page-content page-content__infoblock">
          {% include community-info.html %}
        </div>
      </div>
    </main>

    {% assign sorted-events = site.events | where: 'organiserid', page.dataID | sort: 'start' %}

    <div class="site__content">
      <section class="blog blog--resource blog--calendar">
        <div class="container">
          {% if page.desc %}
            <p>{{ page.desc }}</p>
          {% else %}
            {% if sorted-events.size == 0 %}
              <h2 class="resource-header">No Upcoming Events</h2>
              <p>&nbsp;</p>
            {% else %}
              {% assign count_ongoing = 0 %}
              {% assign count_upcoming = 0 %}
              {% for event in sorted-events %}
                {% assign today_date = 'now' | date: '%F' %}
                {% assign event_date = event.start | date: '%F' %}

                {% if event_date >= today_date %}
                  {% assign count_upcoming = count_upcoming | plus: 1 %}
                {% else %}
                  {% assign count_ongoing = count_ongoing | plus: 1 %}
                {% endif%}  
              {% endfor %}

              {% if count_ongoing > 0 %}
                <h2 class="resource-header">{{ count_ongoing }} Ongoing Event{% if count_ongoing > 1 %}s{% endif %}</h2>
                <div class="post-list resource-list">
                  {% for event in sorted-events %}
                    {% assign today_date = 'now' | date: '%F' %}
                    {% assign event_date = event.start | date: '%F' %}
                    {% if event_date < today_date %}
                      {% assign organiser = page %}
                      {% include event-card.html picture='false' %}
                    {% endif%}
                  {% endfor %}
                </div>
              {% endif%}

              {% if count_upcoming > 0 %}
                <h2 class="resource-header">{{ count_upcoming }} Upcoming Event{% if count_upcoming > 1 %}s{% endif %}</h2>
                <div class="post-list resource-list">
                {% for event in sorted-events %}
                  {% assign today_date = 'now' | date: '%F' %}
                  {% assign event_date = event.start | date: '%F' %}
                  {% if event_date >= today_date %}
                    {% assign organiser = page %}
                    {% include event-card.html picture='false' %}
                  {% endif%}
                {% endfor %}
                </div>
              {% endif%}

            {% endif %}
          {% endif %}
        </div>
      </section>
    </div>

    {% include footer.html %}

  </body>

</html>
