---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">

  {% include head.html %}

  <body class="site">

    {% if site.google_tag_manager %}

      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->

    {% endif %}

    {% include header.html %}

    <div class="hero lazyload" data-bg="{{ site.url }}{{ site.baseurl }}/assets/img/{{ site.hero_img }}">
      <div class="hero__wrap">
        <h1 class="hero__title">{{ site.title | escape }}</h1>
        <p class="hero__meta">{{ site.tagline }}</p>
      </div>
    </div>

    <main class="site__content">

      <section class="container">
        <div class="page-content page-content__columns">

          <p>Meetups and events are a key part of the digital and tech sector.
            They facilitate the coming together of people for conversation and
            shared learnings, often in an informal environment.</p>
          <p>The <a href="https://technation.io/insights/tech-nation-2017/"
                    title="Tech Nations report 2017">Tech Nation</a>
            report highlighted the importance of the local ecosystem, with "the health and
            performance of each business dependent upon the health and
            performance of the whole."</p>
          <p>By increasing attendance amongst the regions
            events through increased exposure, it's hoped that partnerships,
            friendships and business relationships will be encouraged with the
            end result being a higher performing digital/tech economy</p>
          <p>This app pulls community events directly from Meetup and Eventbrite,
            saving you the effort of hunting around for your next event.</p>
        </div>
      </section>


      <section class="blog">
        <div class="container">
          <div class="post-list" itemscope="" itemtype="http://schema.org/Blog">

            {% for item in site.navigation %}
              {% if item.name != 'Home' %}
                {% include card.html %}
              {% endif %}
            {% endfor %}

          </div>
        </div>
      </section>
    </main>

    {% include footer.html %}

  </body>

</html>
