---
layout: compress
newsletter: true
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">

  {% include head.html %}

  <body class="site">

    {% include header.html %}

    <div class="hero">
      <div class="hero__wrap">
        <h1 class="hero__title">{{ site.title | escape }}</h1>
        <p class="hero__meta">{{ site.tagline }}</p>
        <p class="hero__meta">We currently list <b>{{ site.events | size }}</b> events from <b>{{ site.communities | size }}</b> organisations.</p>
      </div>
    </div>

    <main class="site__content">

      <section class="blog blog--resource blog--calendar">
        <div class="container">

          <h2 class="resource-header">Upcoming Events</h2>
          <div class="post-list resource-list" itemscope="" itemtype="http://schema.org/Blog">

            {% assign sorted-events = site.events | sort: 'start' %}
            {% assign count = 0 %}

            {% for event in sorted-events %}
              {% assign today_date = 'now' | date: '%s' %}
              {% assign start_date = event.start | date: '%s' %}
              {% if start_date >= today_date %}
                {% if count < 6 %}
                  {% assign count = count | plus: 1 %}
                  {% assign organiser = site.communities | where: 'dataID', event.organiserid %}
                  {% include event-card.html picture='true' %}
                {% endif %}
              {% endif %}
            {% endfor %}

            <p>
              <a href="/calendar" title="Digital Community Events Calendar" class="btn">View more upcoming events</a>
            </p>

          </div>
        </div>
      </section>

      <section class="container">
        <div class="page-content">
          <h2>What do we do?</h2>
          <div class="page-content__columns">{{ site.what_we_do }}</div>
        </div>
      </section>

      <section class="blog">
        <div class="container">
          <div class="post-list pages">

            {% for item in site.navigation %}
              {% if item.name != 'Home' %}
                {% if item.name != 'Newsletter' %}
                  {% include card.html %}
                {% endif %}
              {% endif %}
            {% endfor %}

          </div>
        </div>
      </section>

      <section class="container">
        <div class="page-content">
          <h2>Join our newsletter</h2>
          <p>If you'd like to receive the occasional update about upcoming events
             and community news, drop your details into the form below.
             <a href="/newsletter" title="More information about our newsletter.">More info</a>.</p>
          {% include newsletter.html %}
        </div>
      </section>
    </main>

    {% include footer.html %}

  </body>

</html>
