---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">

  {% include head.html %}

  <body class="site">

    {% if site.google_tag_manager %}

      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->

    {% endif %}

    {% include header.html %}

    <div class="hero--small lazyload" data-bg="/assets/img/{{ site.hero_img }}">
      <div class="hero__wrap">
        <h1 class="hero__title">{{ page.title }}</h1>
      </div>
    </div>
    <main class="site__content event">

      <div class="container">
        <div class="page-content">

          {% include event-info.html %}

          <hr />

          {{ content }}

          <hr />
          {% if page.collection == 'events' %}
            <div class="map-container" id="map-container">
              <a href="" id="show-map" data-lat="{{page.lat}}"
                                       data-long="{{page.long}}"
                                       data-venue="{{page.venue}}"
                                       data-geographic="{{page.geographic}}"
                                       class="btn"
                                       title="Click to display map">Show map</a>
            </div>
          {% endif %}

        </div>
      </div>

    </main>

    {% include footer.html %}

  </body>

</html>
