---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">

  {% include head.html %}

  <body class="site">

    {% include header.html %}

    <div class="hero--small">
      <div class="hero__wrap">
        <h1 class="hero__title">{{ page.title }}</h1>
      </div>
    </div>
    <main class="site__content event">

      <div class="container">
        <div class="page-content">

          {% include event-info.html %}

          <hr />

          {{ content }}
          
          {% if page.collection == 'events' %}
            {% if page.venue != 'Online event' %}
              <hr />
              <div class="map-container" id="map-container">
                <a href="" id="show-map" data-lat="{{page.lat}}"
                                        data-long="{{page.long}}"
                                        data-venue="{{page.venue}}"
                                        data-geographic="{{page.geographic}}"
                                        class="btn"
                                        title="Click to display map">Show map</a>
              </div>
            {% endif %}
          {% endif %}

        </div>
      </div>

    </main>

    {% include footer.html %}

  </body>

</html>
