footer {
  padding: 2.8125rem 0;
  border-top: 1px solid #f0f0f0;
  text-align: center;
  font-size: 0.875rem;
  color: $grey;

  a {
    color: $grey;
    border-bottom: 0;

    &:hover,
    &:focus {
      color: $primary;
      border-bottom: 0;
    }
  }
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  margin: 0 auto 25px;
}

.social__link:not(:last-child) {
  margin-right: 1.5rem;
}

.social__icon {
  fill: currentColor;
  height: 1.5rem;
  width: 1.5rem;
}

.social_icon--facebook path {
  transform: scale(0.035);
}

.social__icon--youtube path,
.social__icon--youtube polygon {
  transform: scale(0.12);
}

.social__icon--youtube {
  height: 21px;
  margin-top: 3px;
}
