// General
body {
  background-color: $bg-color;
  font-family: $font-stack;
  font-size: 1rem;
  line-height: 1.5;
  color: $text-color;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;

  @include set-dark-color((background-color: $dark-bg-color, color: $dark-text-color, font-weight: 300));
}

::selection {
  color: $bg-color;
  background-color: $reverse;

  @include set-dark-color((background-color: $dark-text-color, color: $dark-bg-color));
}

// Reboot
p {
  margin-top: 0;
  margin-bottom: 1.25rem;
}

// Typography
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $text-color;
  margin-top: 0;
  margin-bottom: .5rem;
  width: 100%;

  @include set-dark-color((color: $dark-text-color));
}

h2{
  @include set-dark-color((font-weight: 500));
}

h2.resource-header:first-of-type() {
  padding-top: 1.5em;

  @include breakpoint($md) {
    padding-top: 2.5em;
  }
}

//reset link
a {
  color: $link-color;
  text-decoration: none;
  transition: border-bottom .2s linear;
  border-bottom: 1px dashed $link-color;

  @include set-dark-color((color: $dark-link-color));

  &:active,
  &:focus,
  &:focus-within {
    outline: 0;
  }

  &:hover,
  &:focus,
  &:focus-within {
    color: $primary-light;
    transition: border-bottom .2s linear;
    border-bottom: 1px solid $primary-light;

    @include set-dark-color((color: $dark-primary-light, border-bottom: 1px solid $dark-primary-light));
  }
}

hr {
  height: 1px;
  background: $border;
  border: 0;

  @include set-dark-color((background: $dark-border));
}
